spring:
  application:
    name: scout-finance

  datasource:
    # Use environment variables if available (Render)
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/scout_finance}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  server:
    port: ${PORT:8080}
    forward-headers-strategy: framework

  mail:
    host: ${SPRING_MAIL_HOST}
    port: ${SPRING_MAIL_PORT}
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
